framework/src/test/resources/wsdl/BankNoInquiry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.pacp.faf.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.pacp.faf.com"
	xmlns:intf="http://service.pacp.faf.com" xmlns:tns1="http://header.pacp.faf.com"
	xmlns:tns2="http://dto.pacp.faf.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:esb="http://www.faf.com.cn/osb/common/header/in">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://service.pacp.faf.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://header.pacp.faf.com" />
			<import namespace="http://dto.pacp.faf.com" />
			<element name="bankNoInquiryRequest">
				<complexType>
					<sequence>
						<element name="header" type="tns1:PacpHeader" />
						<element name="body" type="tns2:BankNoInquiryRequestDTO" />
					</sequence>
				</complexType>
			</element>
			<element name="bankNoInquiryResponse">
				<complexType>
					<sequence>
						<element name="bankNoInquiryReturn" type="tns2:BankNoInquiryResponseReurn" />
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://header.pacp.faf.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dto.pacp.faf.com" />
			<complexType name="PacpHeader">
				<sequence>
					<element name="txnRefNo" type="xsd:string" />
					<element name="txnDate" type="xsd:string" />
					<element name="channel" type="xsd:string" />
					<element name="currency" type="xsd:string" />
					<element name="branchId" type="xsd:string" />
					<element name="userId" type="xsd:string" />
					<element name="replyCode" type="xsd:string" />
					<element name="replyText" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://dto.pacp.faf.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://header.pacp.faf.com" />
			<complexType name="BankNoInquiryRequestDTO">
				<sequence>
					<element name="payeeAcctNo" type="xsd:string" />
					<element name="payeeName" type="xsd:string" />
					<element name="payeeBankName" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="BankNoInquiryResponseDTO">
				<sequence>
					<element name="bankNo" type="xsd:string" />
					<element name="bankName" type="xsd:string" />
					<element name="province" type="xsd:string" />
					<element name="city" type="xsd:string" />

				</sequence>
			</complexType>
			<complexType name="BankNoInquiryResponseReurn">
				<sequence>
					<element name="header" type="tns1:PacpHeader" />
					<element name="body" type="tns2:BankNoInquiryResponseDTO" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="bankNoInquiryRequest">

		<wsdl:part element="impl:bankNoInquiryRequest" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="bankNoInquiryResponse">

		<wsdl:part element="impl:bankNoInquiryResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="BankNoInquiry">

		<wsdl:operation name="bankNoInquiryRequest">

			<wsdl:input message="impl:bankNoInquiryRequest" name="bankNoInquiryRequest">

			</wsdl:input>

			<wsdl:output message="impl:bankNoInquiryResponse" name="bankNoInquiryResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="BankNoInquirySoapBinding" type="impl:BankNoInquiry">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="bankNoInquiryRequest">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="bankNoInquiryRequest">
				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="bankNoInquiryResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="BankNoInquiryService">

		<wsdl:port binding="impl:BankNoInquirySoapBinding" name="BankNoInquiry">

			<wsdlsoap:address
				location="http://localhost:8888/faf-service-server/services/BankNoInquiry" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
